<div
  id='cons-block'
  class='bg-red-50 border border-red-200 rounded-lg p-6'
>
  <h3 class='text-red-800 mb-4 mt-0! flex items-center'>
    <svg
      class='mr-2'
      width='20px'
      height='20px'
      viewBox='0 0 24 24'
      xmlns='http://www.w3.org/2000/svg'
      fill='#000000'
    >
      <g id='SVGRepo_bgCarrier' stroke-width='0'></g>
      <g id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'></g>
      <g id='SVGRepo_iconCarrier'>
        <title></title>
        <g id='Complete'>
          <g id='thumbs-down'>
            <path
              d='M7.3,12.6,10.1,21a.6.6,0,0,0,.8.3l1-.5a2.6,2.6,0,0,0,1.4-2.3V14.6h6.4a2,2,0,0,0,1.9-2.5l-2-8a2,2,0,0,0-1.9-1.5H4.3a2,2,0,0,0-2,2v6a2,2,0,0,0,2,2h3V2.6'
              fill='none'
              stroke='#9f0712'
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
            ></path>
          </g>
        </g>
      </g>
    </svg>
    {{ .Get "title" | default "Недостатки" }}
  </h3>
  <div class='space-y-2'>
    {{ .Inner | .Page.RenderString }}
  </div>
</div>