<div
  id='pros-block'
  class='bg-green-50 border border-green-200 rounded-lg p-6'
>
  <h3 class='text-green-800 mb-4 mt-0! flex items-center'>
    <svg
      class='mr-2'
      width='20px'
      height='20px'
      viewBox='0 0 24 24'
      xmlns='http://www.w3.org/2000/svg'
      fill='#000000'
    >
      <g stroke-width='0'></g>
      <g stroke-linecap='round' stroke-linejoin='round'></g>
      <g>
        <title></title>
        <g>
          <g id='thumbs-up'>
            <path
              d='M7.3,11.4,10.1,3a.6.6,0,0,1,.8-.3l1,.5a2.6,2.6,0,0,1,1.4,2.3V9.4h6.4a2,2,0,0,1,1.9,2.5l-2,8a2,2,0,0,1-1.9,1.5H4.3a2,2,0,0,1-2-2v-6a2,2,0,0,1,2-2h3v10'
              fill='none'
              stroke='#016630'
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
            ></path>
          </g>
        </g>
      </g>
    </svg>
    {{ .Get "title" | default "Преимущества" }}
  </h3>
  <div class='space-y-2'>
    {{ .Inner | .Page.RenderString }}
  </div>
</div>
