Чтобы сменить или отключить тариф, вам нужно перейти на любой другой тарифный план.

С актуальным списком тарифов Теле2 и нашими обзорами на них вы можете ознакомиться на странице «[Тарифы Теле2](/tele2/tarify)».

**Можете обратить внимание на следующие тарифные планы:**

1. Тарифные планы Теле2 для активных пользователей интернета и звонков: «[Выгодный Pro](/tele2/tarify/vygodnyj-pro)», «[Выгодный Max](/tele2/tarify/vygodnyj-max)», «[Выгодный Unlim](/tele2/tarify/vygodnyj-unlim)».
2. Если вам нужен минимальный тарифный план, то рекомендуем тариф «[Зазвони всех](/tele2/tarify/zazvoni-vseh)» без абонентской платы.
3. Для школьников и студентов подойдет бюджетный тариф «[Білім](/tele2/tarify/bilim)»
4. Граждане с социальными льготами могут рассмотреть тариф «[Льготный](/tele2/tarify/lgotnyj-1090)»

**Читайте также нашу инструкцию:**

* [Как сменить тариф на Теле2](/tele2/uslugi/kak-smenit-tarif).

* [Как отключить тариф на Теле2](/tele2/uslugi/kak-otklyuchit-tarif).
