<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<title>{{ .Title }}</title>
<meta name="description" content="{{ .Description }}" />
<meta name="keywords" content="{{ delimit .Keywords " " }}" />
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />
{{- with (templates.Defer (dict "key" "global")) }}
  {{- partial "css.html" . }}
{{- end }}
